body {
  height: 100%;
  margin: 0;
}

.header {
  margin: 0 auto;
  display: flex;
}
.navBar {
  display: flex;
  height: 6.9375rem;
  padding: 1.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #fff;

  /* /shadow/base */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.header-logo {
  width: 2.6875rem;
  height: 3.25rem;
  flex-shrink: 0;
}
