body {
  height: 100%;
  margin: 0 auto;
  font-family: Inter;
}

header {
  height: 6.9375rem;
  background: #FFF; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); 

}

.header-logo-img {
  width: 2.6875rem;
  height: 3.25rem;
  flex-shrink: 0;
  padding: 6.25px;
}
.text-logo {
  color: #141413;
font-family: Inter;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 3.75rem; /* 187.5% */
letter-spacing: -0.1rem;
}
