*,
*::before,
*::after {
  box-sizing: border-box; 
}

body {
  height: 100%;
  margin: 0;
  font-family: Inter;
  flex-direction: column;
  background-color: blue;
  display: flex;
}
#root {
  height: 100%; 
  display: flex;
  flex-direction: column; 
  width: 100%;    
}
html {
  height: 100%; 
}

header {
  height: 6.9375rem;
  background: #FFF; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); 
}

.header-logo-img {
  width: 2.6875rem;
  height: 3.25rem;
  flex-shrink: 0;
  padding: 6.25px;
}
.text-logo {
  color: #141413;
font-family: Inter;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 3.75rem; /* 187.5% */
letter-spacing: -0.1rem;
}

main {
  flex-grow: 1; /* Takes remaining height */
  display: flex;
  width: 100%;
  margin: 0 auto; /* Centers the 45rem content horizontally */
  padding-top: 4.6875rem; /* This padding is now internal */
  flex-direction: column;
  align-items: center;
  background: #FAFAF8;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #FAFAF8;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}
.ingredients-list-container {
  width: 100%; 
  display: flex;
  justify-content: flex-start; 
  margin-top: 2rem; 
  color: var(--Gray-600, #475467);
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 155.556% */
}